<div class="animated fadeInRight">
    <div class="layui-tab" lay-filter="transactionFailed">
        <ul class="layui-tab-title">
            <li class="layui-this">转账失败</li>
            <li>还款失败</li>
            <li>解冻失败</li>
            <li>红包/加息劵发放失败</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="exchangeFailed" class="layui-hide" lay-filter="exchangeFailed"></table>
            </div>
            <div class="layui-tab-item">
                <table id="repayFailed" class="layui-hide" lay-filter="repayFailed"></table>
            </div>
            <div class="layui-tab-item">
                <table id="unfreezeFailed" class="layui-hide" lay-filter="unfreezeFailed"></table>
            </div>
            <div class="layui-tab-item">
                <table id="grantCouponFailed" class="layui-hide" lay-filter="grantCouponFailed"></table>
            </div>

        </div>
    </div>
</div>

<script type="text/html" id="transactionFailedBar">
	<a class="layui-btn layui-btn-xs" lay-event="retry"><i class="layui-icon">&#xe642;</i>重试</a>
</script>

<script src="js/deposit/transaction_failed.js"></script>
